<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
    <title>Currículum Vítae</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="./../img/icon.png">
</head>
<header>
    <div class="row">
        <div class="emot1">
            <a href="../view/en/index_en.html">🌐EN</a>
        </div>
        <div class="navegacion1">
            <nav>
                <ul>
                    <li><a href="./index_en.html">🙎‍♂️Who I am</a></li>
                    <li><a href="./education.html">📚Studies</a></li>
                    <li><a href="./experience.html">🔨Experience</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="row">
        <div class="column-100">
            <h3>MIGUEL VILCHEZ</h3>
        </div>
    </div>
    <div class="row">
        <div class="column-33">
            <div class="margen">
                <h4><strong>Studies</strong></h4>
                <p><u>ESO</u> 2022 </p>
                <p><em>Sant Jaume de la FEP</em></p>
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5988.321861195604!2d2.1207371124402754!3d41.37058817118227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498ed73a2a073%3A0xaccce5ba6c77dac4!2sSant%20Jaume%20de%20la%20FEP!5e0!3m2!1ses!2ses!4v1714690875624!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>         
        </div>
        <div class="column-33">
            <div class="margen">
                <h4><strong>Studies</strong></h4>
                <p><u>SMX2</u> 23-24 - Present</p>
                <p><em>Jesuïtes Bellvitge - Centre d'Estudis Joan XXIII</em></p>
                <p><u>SMX1</u> 2022 - 2023</p>
                <p><em>Jesuïtes Bellvitge - Centre d'Estudis Joan XXIII</em></p>
                <br>
                <br>
                <p class="text">I want to develop professionally in the field of
                    computer cybersecurity, through a company that
                    allows you to learn and put knowledge into practice
                    acquired in the CFGM of microcomputer systems and networks.</p>
            </div>         
        </div>
        <div class="column-33">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2195.6858027890858!2d2.109408991018955!3d41.35089996287348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1683641549639!5m2!1sca!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="column-50">
            <a class="boton-descarga" href="../../img/CV-EN.pdf" download>Document PDF Curriculum</a>
        </div>
        <div class="column-50">
                <a class="boton-descarga" href="../estudis.html">Version Curriculum to English</a>
        </div>
    </div>
    <br><br>
</body>
<footer>
    <div class="row">
        <div class="column-33-1">
            <p>☏ 697 52 96 87</p>
        </div>
        <div class="column-33-1">
            <p>📍 L'Hospitalet de Llobregat, 08904</p>
        </div>
        <div class="column-33-1">
            <p>✉ mivipu8@gmail.com</p>
        </div>
    </div>
</footer>
</html>