<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
    <title>Currículum Vítae</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../../img/icon.png">
</head>
<header>
    <div class="row">
        <div class="emot1">
            <a href="../view/en/index_en.html">🌐EN</a>
        </div>
        <div class="navegacion1">
            <nav>
                <ul>
                    <li><a href="./index_en.html">🙎‍♂️Who I am</a></li>
                    <li><a href="./education.html">📚Estudies</a></li>
                    <li><a href="./experience.html">🔨Experience</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="row">
        <div class="column-100">
            <h3>MIGUEL VILCHEZ</h3>
        </div>
    </div>
    <div class="row">
        <div class="column-33">
            <div class="margen">
                <h4><u>Informatic student</u></h4>
                <p>23-24 - Present</p>
                <p><em>Jesuitas Bellvitge</em></p>
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2195.6858027890858!2d2.109408991018955!3d41.35089996287348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1683641549639!5m2!1sca!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="column-33">
            <div class="margen exp">
                <h4><u>Internships</u></h4>
                <p>21/06/2023 - 013/10/2023</p>
                <p><em>Jesuitas el Clot</em></p>
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.2233714104236!2d2.1909273963255957!3d41.41266957001691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a32f21aff871%3A0x8a22bf1df6194fbd!2sEscuela%20Jesuitas%20El%20Clot!5e0!3m2!1ses!2ses!4v1714690488969!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="column-33">
            <div class="margen exp">
                <h4><u>Theater usher</u></h4>
                <p>25/06/2023-15/9/2023</p>
                <p><em>Teatre Victoria</em></p>
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.9682019537217!2d2.166208212440451!3d41.374775571181644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a25c0c49f739%3A0x54e8eb6c24a94762!2sTeatro%20Victoria!5e0!3m2!1ses!2ses!4v1714690594339!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <p>I am willing to work in any field related to
            computer science to obtain the necessary training, grow
            in the sector and acquire skills that allow me to achieve the
            my professional goals.</p>
    </div>
    <br><br><br>
    <div class="row">
        <div class="column-50">
            <a class="boton-descarga" href="../../img/CV-EN.pdf" download>Document PDF Curriculum</a>
        </div>
        <div class="column-50">
                <a class="boton-descarga" href="../../view/experiencia.html">Translate Curriculum to English</a>
        </div>
    </div>
    <br><br>
</body>
<footer>
    <div class="row">
        <div class="column-33-1">
            <p>☏ 697 52 96 87</p>
        </div>
        <div class="column-33-1">
            <p>📍 L'Hospitalet de Llobregat, 08904</p>
        </div>
        <div class="column-33-1">
            <p>✉ mivipu8@gmail.com</p>
        </div>
    </div>
</footer>
</html>