<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
    <title>Currículum Vítae</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="img/icon.png">
</head>
<header>
    <div class="row">
        <div class="emot1">
            <a href="../../index.html">🌐ES</a>
        </div>
        <div class="navegacion1">
            <nav>
                <ul>
                    <li><a href="./index_en.html">🙎‍♂️Who I am</a></li>
                    <li><a href="./education.html">📚Estudies</a></li>
                    <li><a href="./experience.html">🔨Experience</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="row">
        <div class="column-100">
            <h3>MIGUEL VILCHEZ</h3>
        </div>
    </div>
    <div class="row">
        <div class="column-50-1">
            <div class="texto">
                <h4 id="quiensoy"><strong>Who I am?</strong></h4>
                <p>I am Miguel Vilchez Granja, I really like computing along with sports because when I am not doing computing I am doing sports.
                    I really like football. I also like boxing and the gym since it is important that I feel good about my body.
                    I really like the world of motors, both motorcycles and cars. Yes, it's true that motorcycles more because they give me
                    that point of adrenaline but the cars too since they are not so difficult to carry and more comfortable depending on what plans.
                    In my free time I try to learn cybersecurity and I like to listen to music while playing with friends or alone.
                    On weekends I like to go to the beach for a morning run.
                    I am a very empathetic person and I like to help people whenever and when I can, I am also a very stubborn person.
                    in the sense that if I set my mind to something I have to achieve it.
                </p> 
            </div>
        </div>
        <br><br><br>
        <div class="column-50-1">
            <iframe class="video" src="https://youtu.be/brnj09H8I0k?si=20a9b5If45_jtR5w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="column-50">
            <a class="boton-descarga" href="../../img/CV-EN.pdf" download>Document PDF Curriculum</a>
        </div>
        <div class="column-50">
            <a class="boton-descarga" href="../../index.html">Translate Curriculum to Spanish</a>
        </div>
    </div>
    <br><br>
</body>
<footer>
    <div class="row">
        <div class="column-33-1">
            <p>☏ 697 52 96 87</p>
        </div>
        <div class="column-33-1">
            <p>📍 L'Hospitalet de Llobregat, 08904</p>
        </div>
        <div class="column-33-1">
            <p>✉ mivipu8@gmail.com</p>
        </div>
    </div>
</footer>
</html>